In [92]:
import pandas as pd 
import numpy as np
import sklearn
from sklearn import tree
from sklearn import naive_bayes
from sklearn import model_selection
from sklearn import metrics

In [93]:
df = pd.read_csv("house-votes-84.data", header=None, na_values="?")
df_numeric = df.replace(["republican", "democrat", "y", "n"], [1, 0, 1, 0])
df_numeric

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,1,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,NaN,1.0,1.0,1.0,0.0,1.0
1,1,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,NaN
2,0,NaN,1.0,1.0,NaN,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
3,0,0.0,1.0,1.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,NaN,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,1,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
431,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
432,1,0.0,NaN,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0
433,1,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0,1.0,1.0,1.0,0.0,1.0
434,1,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,NaN,0.0

In [94]:
#discard instances with missing values
df_discard = df_numeric.dropna()
df_discard

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
5,0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
8,1,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0
19,0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
23,0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
25,0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0
426,0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
427,1,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
430,1,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
431,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [95]:
#treat missing values as new values
df_ternary = df_numeric.fillna(0.5)
df_ternary

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,1,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.5,1.0,1.0,1.0,0.0,1.0
1,1,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.5
2,0,0.5,1.0,1.0,0.5,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
3,0,0.0,1.0,1.0,0.0,0.5,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.5,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,1,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
431,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
432,1,0.0,0.5,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0
433,1,0.0,0.0,0.0,1.0,1.0,1.0,0.5,0.5,0.5,0.5,0.0,1.0,1.0,1.0,0.0,1.0
434,1,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.5,0.0

In [96]:
#impute missing values
df_impute = df_numeric.copy()
for col in df_numeric.columns:
    col_mode = df_impute[col].mode(dropna=True)[0]
    df_impute[col].fillna(col_mode, inplace=True)
df_impute

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,1,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
1,1,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0
2,0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
3,0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,1,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
431,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
432,1,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0
433,1,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
434,1,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0

In [85]:
#
def evaluate(clf, df):
    X = df.iloc[:, 1:]
    y = df[0]
    kf = model_selection.KFold(n_splits=5, shuffle = True, random_state = 1)
    
    f1 = []
    precision = []
    recall = []
    for train_index, test_index in kf.split(X):    
        X_train, X_test = X.iloc[train_index], X.iloc[test_index]
        y_train, y_test = y.iloc[train_index], y.iloc[test_index]
        clf.fit(X_train, y_train)
        y_pred = clf.predict(X_test)
        precision.append(metrics.precision_score(y_test, y_pred))
        recall.append(metrics.recall_score(y_test, y_pred))
        f1.append(metrics.f1_score(y_test, y_pred))
        
    print(f"    Avarage precision score: {np.mean(precision)}")
    print(f"    Avarage recall score: {np.mean(recall)}")
    print(f"    Avarage f1 score: {np.mean(f1)}")
    print()

print("Decision Tree (gini) (dicard missing values):")
evaluate(tree.DecisionTreeClassifier(), df_discard)
print("Decision Tree (entropy) (dicard missing values):")
evaluate(tree.DecisionTreeClassifier(criterion = 'entropy'), df_discard)
print("Decision Tree (gini) (ternary feature):")
evaluate(tree.DecisionTreeClassifier(), df_ternary)
print("Decision Tree (entropy) (ternary feature):")
evaluate(tree.DecisionTreeClassifier(criterion = 'entropy'), df_ternary)
print("Decision Tree (gini) (impute missing values):")
evaluate(tree.DecisionTreeClassifier(), df_impute)
print("Decision Tree (entropy) (impute missing values):")
evaluate(tree.DecisionTreeClassifier(criterion = 'entropy'), df_ternary)
print("Bernoulli NaÃ¯ve Bayes (dicard missing values):")
evaluate(naive_bayes.BernoulliNB(), df_discard)
print("Multinomial NaÃ¯ve Bayes (ternary feature):")
evaluate(naive_bayes.MultinomialNB(), df_ternary)
print("Categorical NaÃ¯ve Bayes (ternary feature):")
evaluate(naive_bayes.CategoricalNB(), df_ternary)
print("Gaussian NaÃ¯ve Bayes (ternary feature):")
evaluate(naive_bayes.GaussianNB(), df_ternary)
print("Bernoulli NaÃ¯ve Bayes (impute missing values):")
evaluate(naive_bayes.BernoulliNB(), df_impute)

Decision Tree (gini) (dicard missing values):
    Avarage precision score: 0.924685185185185
    Avarage recall score: 0.9480185185185185
    Avarage f1 score: 0.9337673107890498

Decision Tree (entropy) (dicard missing values):
    Avarage precision score: 0.924685185185185
    Avarage recall score: 0.9396851851851851
    Avarage f1 score: 0.9291296296296296

Decision Tree (gini) (ternary feature):
    Avarage precision score: 0.9265144149447526
    Avarage recall score: 0.9278455664640799
    Avarage f1 score: 0.9262808117693281

Decision Tree (entropy) (ternary feature):
    Avarage precision score: 0.9181892111683382
    Avarage recall score: 0.9253455664640796
    Avarage f1 score: 0.9197080183282258

Decision Tree (gini) (impute missing values):
    Avarage precision score: 0.910539997636772
    Avarage recall score: 0.9072054698457223
    Avarage f1 score: 0.9078208591556756

Decision Tree (entropy) (impute missing values):
    Avarage precision score: 0.9140225445016716
    Avarage recall score: 0.9253455664640796
    Avarage f1 score: 0.9176466148194539

Bernoulli NaÃ¯ve Bayes (dicard missing values):
    Avarage precision score: 0.8753767560664111
    Avarage recall score: 0.9310185185185185
    Avarage f1 score: 0.8979996038819568

Multinomial NaÃ¯ve Bayes (ternary feature):
    Avarage precision score: 0.8282203907203908
    Avarage recall score: 0.9111352657004831
    Avarage f1 score: 0.8656364266136564

Categorical NaÃ¯ve Bayes (ternary feature):
    Avarage precision score: 0.8199962949962952
    Avarage recall score: 0.896203054386785
    Avarage f1 score: 0.8549253034547153

Gaussian NaÃ¯ve Bayes (ternary feature):
    Avarage precision score: 0.9109024309024308
    Avarage recall score: 0.9291280972417016
    Avarage f1 score: 0.9190921465979258

Bernoulli NaÃ¯ve Bayes (impute missing values):
    Avarage precision score: 0.8243655675986503
    Avarage recall score: 0.911350319463924
    Avarage f1 score: 0.8641173038765781